/* ///////////////
   YOUR TASK
   ///////////////
 
  1.  Use flexbox to horizontally center
      content within the header
  
  2.  Use flexbox to have the navigation
      items to go next to one another

  3.  At smaller screen sizes, the nav
      list items should slide onto a new
      row if they run out of room

  4.  When nav items wrap, they must be
      centered horizontally
*/

header {
  background: black;
  color: white;
  padding: 2rem;
}

.logo {
  width: 10rem;
  margin-bottom: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1em;
}

nav a {
  color: inherit;
}

nav a:hover,
nav a:focus {
  color: yellowgreen;
}
