.container {
  padding: 0 2rem;
  max-width: 65rem;
  margin: 0 auto;
}

.even-columns {
  display: flex;
  gap: 1em;
}

.even-columns > * {
  width: 100%;
  border: 2px solid black;
}

.flex-item {
  padding: 2rem;
}
